asyncpg
black
cryptography
ephem
flake8
Flask
Flask-CORS
google-genai
ldap3
lxml
ntplib
passlib
pgeocode
pika
psutil
psycopg2-binary
pyinotify
pymysql
pyserial
python-docx
PyYAML
redis==5.0.1
requests
websocket-client
