[Unit]
Description=Asynchronous Backup Worker
After=network.target rabbitmq-server.service

[Service]
Type=simple
User=root
# Removing group specification
WorkingDirectory=/opt/odoo/daemons/backup_worker
EnvironmentFile=/etc/hams_daemons.env
ExecStart=/usr/bin/env python3 backup_worker.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
