[Unit]
Description=Asynchronous Backup Worker
After=network.target rabbitmq-server.service

[Service]
Type=simple
User=odoo
# Removing group specification
WorkingDirectory=/opt/odoo/daemons/backup_worker
EnvironmentFile=/etc/hams_daemons.env
EnvironmentFile=/opt/hams/etc/keys/backup_worker.env
ExecStart=/usr/bin/env python3 main.py
Restart=always
RestartSec=10
ProtectSystem=strict
PrivateTmp=true
PrivateDevices=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
