[Unit]
Description=Pager Chrooted Log Analyzer
After=network.target redis-server.service
Requires=redis-server.service

[Service]
Type=simple
User=root
# Removing group specification
WorkingDirectory=/opt/odoo/addons/pager_duty/daemon
EnvironmentFile=/etc/pager_daemons.env
ExecStart=/usr/bin/env python3 pager_log_analyzer.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
