[Unit]
Description=Pager SMART Disk Health Spooler
After=network.target

[Service]
Type=oneshot
User=root
# Removing group specification
WorkingDirectory=/opt/odoo/addons/pager_duty/daemon
ExecStart=/usr/bin/env python3 pager_smart_spooler.py
