# Copyright © Bruce Perens K6BP. AGPL-3.0.
[Unit]
Description=Odoo Distributed Cache Manager (Redis Pub/Sub)
After=network.target postgresql.service redis-server.service
Requires=postgresql.service redis-server.service

[Service]
Type=simple
User=odoo
# Removing group specification
# Adjust WorkingDirectory to point to your specific addons path
WorkingDirectory=/opt/odoo/addons/distributed_redis_cache/daemons
ProtectSystem=strict
PrivateTmp=true
PrivateDevices=true
NoNewPrivileges=true

# Database & Redis Configuration
EnvironmentFile=-/opt/hams/etc/keys/cache_manager.env

ExecStart=/usr/bin/env python3 cache_manager.py

Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
